/* do the generic css for the smallest
screen first - this css will be applie to 
all screens */

body {
    /* add the default base font properties */
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

img {
    max-width: 100%;
    display: block;
}

header,
footer {
    background-color: #115194;
    margin-bottom: 24px;
}

h1 {
    padding: 48px;
}

nav {
    background-color: #4bb190;
    padding: 16px;
}

.banner {
    background-color: #b8bac3;
    padding: 288px 0;
    margin-bottom: 24px;
}

.promo {
    background-color: #b0d892;
    padding: 128px 0;
    margin-bottom: 24px;
    /* one key itme for RWD is % based
    containers = fluid layouts */
    width: 32%;
    
}

/* fluid layours are great for mobile devices, 
but on deskops we'll switch to a fixed width
container
*/
@media screen and (min-width: 1300px) {
    .container {
        width: 1200px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1800px) {
    .container {
        width: 1700px;
    }
}

/* The three keys things for RWD:
1. fluid containers (up to a point)
2. media queries
3. flexible images */